
.wrap{
    margin-bottom: 100px;
}

.view-container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.view-box{
    box-shadow: 0 2px 6px rgba(0,0,0,.2); /*Adds a shadow around the whole container*/
    border-radius: 5px; /*Makes corners of container rounded*/
    font-family: 'PT Serif', serif; /*Sets fonts for the placeholder text inside inputs*/
    border: 1px solid #929292; /*Adds a border around the inputs*/
    margin: 20px 0;
    padding: 20px;
    width: 90%;
    margin-right: 15px;
}

h2.view{
    margin-bottom: 15px;
	margin-top: 0px;
}

img.view{
    height: 190px;
    border: 1px solid #929292; /*Adds a border around the image*/
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2); /*Adds a shadow around the whole container*/
}

.view-button{
    margin: 10px;
    width: 200px;
    height: 50px;
    float: right;
    background-color: #fe6b40;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.view-button:hover{
    background-color: #e64616;
}

p.title{
	font-size: 30px;
	font-family: 'PT Serif', serif;
    font-weight: bold;
    margin-top: 0;
}

@media only screen and (max-width: 1200px){
    .mem-container{
        width: 90%;
    }

    .mem-box{
        font-size: 16px;
    }

    #view-mem-button{
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 620px){
    p.member, h2.member{
        text-align: center;
    }

    h2.member{
        font-size: 20px;
    }    
}

@media only screen and (max-width: 500px){
    .mem-container{
        width: 45%;
        margin-left: 20px;
    }

    img.member{
        height:150px;
    }

    #view-mem-button{
        width: 100px;
        height: 40px;
        font-size: 10px;
    }
}

