.main-div{
    width: 80%;
    margin: 0 auto;
}

#favouritesBtn{
    margin-bottom: 0px;
}

button.menudetails{
    background-color: #fe6b40;
    border: none;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 75px;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 275px;
}

button.menudetails:hover{
    background-color: #e64616;
}

button.menudetails:disabled{
    background-color: grey;
    color: black;
    cursor: default;
}

button.returnbutton{
    margin-top: 0px;
}

p.menudetails{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
}

img.menudetails{
    margin-top: 30px;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 30px;
}

.details-container{
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allergy-div{
    display: flex; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 50%;
    flex-wrap: wrap;
}

.allergyicons{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1200px){
    .middle-div{
        width: 90%;
    }

    button.menudetails{
        margin-bottom: 0px;
    }

    button.returnbutton{
        margin-bottom: 75px;
        margin-top: 0px;
    }
}