/*Used by all the text on the page*/
h1.staff, h2.staff, p.staff{
    font-family: 'PT Serif', serif; /*Sets font for all text used in the page as 'PT Serif'*/
}

/*Used by Title and Names/Designations of Team Members*/
h1.staff, h2.staff{
    text-align: center; /*Aligns headers to the centre horizontally*/
    font-weight: bold; /*Makes headers bold*/
    font-size: 40px; /*Sets size of text to 40px*/
}

/*Used by Title*/
h1.staff{
    font-size: 46px; /*Sets font size for the header*/
}

/*Used by Team Member Descriptions*/
p.staff{
    text-align: justify; /*Makes description text justified*/
    font-size: 22px; /*Sets size of description text*/
}

/*Used by Team Member Image div*/
.sub-container{
    padding: 0px 4%; /*Adds some padding to the text and images to make it look less like a table*/
    width: 50%; /*Sets the width of the sub-containers to be equal*/
    display: flex; /*Displays the image as a block-level flex container*/
    align-items: center; /*Centres content in the row horizontally*/
    justify-content: center; /*Centres content in the row vertically*/
}

/*Contains Team Member Description and Image div*/
.container{
    display: flex; /*Displays the div as a block-level flex container*/
    align-items: center; /*Centres sub-containers in the row horizontally*/
    justify-content: center; /*Centres sub-containers in the row vertically*/
    margin-bottom: 100px; /*Spaces out rows*/
}

/*For 4th child*/
:nth-child(4n){
    flex-direction: row-reverse; /*Reverses order of sub-containers every row, so they alternate*/
}

/*Contains Team Member Name, Description and Image div*/
.main-div{
    display: flex; /*Makes divs act like a table*/
    width: 80%; /*Sets width of whole thing*/
    margin: 0 auto; /*Centres whole div in page*/
    flex-direction: column; /*Makes staff rows appear under each other*/
}

/*Used by Team Member Images*/
img.staff-member{
    border-radius: 50%; /*Makes images circle*/
    border: 1px solid black; /*Sets images' borders*/
    height: 350px; /*Sets height of the images*/
}

/*The CSS Style enclosed within this @media only applies when screen resolution is 1300px or more*/
@media only screen and (min-width: 1300px){
    p.staff{
        font-size: 30px; /*Changes font size for larger screens*/
    }
}

/*The CSS Style enclosed within this @media only applies when screen resolution is 1200px or less*/
@media only screen and (max-width: 1200px){
    /*Used by Team Member Image*/
    img.staff-member{
        height: 250px; /*Decreases the size of images on smaller screens*/
    }

    /*Contains Team Member Description and Image div*/
    .container{
        flex-direction: column; /*Makes sub-containers appear under each other to better suit smaller screens*/
    }
    
    /*Used by Team Member Image div*/
    .sub-container{
        margin-top: 50px; /*Centres images and text on smaller screens*/
        margin-bottom: 50px; /*Centres images and text on smaller screens*/
        width: 100%; /*Makes contain0ers span 90% of the width of the page to better suit smaller screens*/
    }

    /*Contains Team Member Name, Description and Image div*/
    .main-div{
        width: 90%; /*Increases the width of the main content to better suit smaller screens*/
    }
}