{% extends "layout.html" %}

{% block title %}Oops!{% endblock %}

{% block head %}
	<link rel="stylesheet" href="resources/css/error.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
	<h1 class="errorpage">SOMETHING WENT WRONG</h1>
	<p class="errorpage">
		This Website was created with a level of perfectionism and attention that would put Apple to shame, 
		and Kyle was locked in a cage during production, so you must've been messing with the website.<br><br>
		Here's an image of a one of our team member's cat to make up for your troubles. Her name is <b>Peanut</b>.
	</p>
	<img src="resources/images/cat.jpg" alt="Picture of a cat" class="errorimage"><br>
	<div id="buttonDiv">
		<button type="button" onclick="window.location = 'index.php'" class="errorpage">I'm done from the cat.<br>Take me back.</button>
	</div>
{% endblock %}