{% extends "formslayout.html" %}

{% block title %}Add Team Member{% endblock %}

{% block content %}
    <form action="./adddish.php" method="POST" enctype="multipart/form-data">
        <div class="input-section">
            <h1 class="forms">ADD DISH</h1>
            <div class="form-div">
                <input class="input-line" type="text" value="{{formvalues.name}}" placeholder="Enter name" aria-label="Enter name" name="aDishName" maxlength="100" required>
            </div>
            <p class="error">{{validations.name}}</p>
            <div class="form-div"> 
                <select name="typeSelect" class="input-line" aria-label="Select dish type" required>
                    <option value="">Select Type</option>
                    {% for type in types %}
                        <option value="{{type.type}}">{{type.type}}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="error">{{validations.type}}</p>
            <div class="form-div">
                <textarea class="input-line" aria-label="Enter description" type="text" name="aDishDescription" placeholder="Enter description" rows=4 maxlength="200" required>{{formvalues.desc}}</textarea>
            </div> 
            <p class="error">{{validations.desc}}</p>
            <div class="form-div">
                <input class="input-line" type="number" aria-label="Enter price" placeholder="Enter price" value="{{formvalues.price}}" name="aDishPrice" min="0" step="0.01" required>
            </div>
            <p class="error">{{validations.price}}</p>
            <div class="form-div">
                <textarea class="input-line" type="text" aria-label="Enter ingredients" placeholder="Enter ingredients" name="aDishIngredients" rows=4 maxlength="250" required>{{formvalues.ing}}</textarea>
            </div>
            <p class="error">{{validations.ing}}</p>
            <div class="form-div">
                <input class="input-line" type="number" aria-label="Enter serving" value="{{formvalues.serving}}" placeholder="Enter serving" name="aDishServing" min="0" required>
            </div>
            <p class="error">{{validations.serving}}</p>
            <div class="form-div">
                <select name="allSelect[]" class="input-line" aria-label="allSelect" multiple required>
                    <option value="none">None</option>
                    {% for allergy in allergies %}
                        <option value="{{allergy.allergyid}}">{{allergy.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="error">{{validations.allergies}}</p>
            <div class="form-div">
                <input class="input-line" type="file" aria-label="Enter photo" name="aDishPhoto" required>
            </div>
            <p class="error">{{validations.photo}}</p>
            
            <div class="form-div">
                <button class="form-button" onclick="window.location='admin.php'">Return to Admin Menu</button>
                <button class="form-button"type="submit" name="aDishSubmit">Add New Dish</button>
            </div>
        </div>
    </form>
{% endblock %}