{% extends "formslayout.html" %}

{% block title %}Add Team Member{% endblock %}

{% block head %}
    {{ parent ()}}
    <link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form action="./addmember.php" method="POST" enctype="multipart/form-data">
        <div class="input-section">
            <h1 class="forms">ADD TEAM MEMBER</h1>
            <div class="form-div">
                <input class="input-line" aria-label="Enter name" type="text" placeholder="Enter name" name="aTeamName" value="{{formvalues.name}}" maxlength="40" required>
            </div>
            <p class="error">{{validations.name}}</p>
            <div class="form-div">
                <input class="input-line" aria-label="Enter role" type="text" placeholder="Enter role" name="aTeamRole" value="{{formvalues.role}}" maxlength="40" required>
            </div>
            <p class="error">{{validations.role}}</p>
            <div class="form-div">
                <textarea class="input-line" aria-label="Enter description" type="text" placeholder="Enter description" name="aTeamDescription" rows="10" maxlength="1000" required>{{formvalues.desc}}</textarea>
            </div>
            <p class="error">{{validations.desc}}</p>
            <div class="form-div">
                <input class="input-line" aria-label="Enter photo" type="file" name="aTeamPhoto" placeholder="Enter photo" maxlength="100" required>
            </div>
            <p class="error">{{validations.photo}}</p>

            <div class="form-div">
                <button class="form-button"type="submit" name="eTeamSubmit">Add Team Member</button>
            </div>
        </div>
    </form>
{% endblock %}