{% extends "formslayout.html" %}

{% block title %}Add Team Member{% endblock %}
{% block head %}
{{ parent ()}}<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
   <div class="admin-div">
    <div class="section">
        <form action="./addmember.php" method="POST" enctype="multipart/form-data">
            <h1 class="forms">ADD TEAM MEMBER</h1>
            <div class="form-div">
                <p class="error">{{validations.name}}</p>
                <input class="input-line" aria-label="Enter name" type="text" placeholder="Enter name" name="aTeamName" value="{{formvalues.name}}" maxlength="40">
            </div>
            <div class="form-div">
                <p class="error">{{validations.role}}</p>
                <input class="input-line" aria-label="Enter role" type="text" placeholder="Enter role" name="aTeamRole" value="{{formvalues.role}}" maxlength="40">
            </div>
            <div class="form-div">
                 <p class="error">{{validations.desc}}</p>
                <textarea class="input-line" aria-label="Enter description" type="text" placeholder="Enter description" name="aTeamDescription" rows="10" maxlength="1000">{{formvalues.desc}}</textarea>
            </div>
            <div class="form-div">
                 <p class="error">{{validations.photo}}</p>
                <input class="input-line" aria-label="Enter photo" type="file" name="aTeamPhoto" placeholder="Enter photo" maxlength="100">
            </div>
            <button class="form-button"type="submit" name="eTeamSubmit">Add Team Member</button>
        </form>
    </div>
</div>
{% endblock %}