{% extends "formslayout.html" %}

{% block title %}Add Dish Type{% endblock %}

{% block content %}
    <form action="./addtype.php" method="POST" enctype="multipart/form-data">
        <div class="input-section">
            <h1 class="forms">ADD DISH TYPE</h1>
            <div class="form-div">
                <input class="input-line" aria-label="Enter name" type="text" placeholder="Enter name" name="aTypeName" value="{{formvalues.name}}" maxlength="20" required>
            </div>
            <p class="error">{{validations.name}}</p>
            <div class="form-div">
                <input class="input-line" aria-label="Enter photo" type="file" name="aTypePhoto" placeholder="Enter photo" maxlength="150" required>
            </div>
            <p class="error">{{validations.photo}}</p>

            <div class="form-div">
                <button class="form-button"type="submit" name="eTeamSubmit">Add Dish Type</button>
            </div>
        </div>
    </form>
{% endblock %}