{% extends "formslayout.html" %}

{% block title %}Admin{% endblock %}

{% block pagetitle %}ADMIN OPTIONS{% endblock %}

{% block head %}
{{ parent ()}}<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="admin-div">
	<form action="./admin.php" method="POST">
		<div class="form-div">
			<select name="adminSelect" class="input-line" aria-label="adminSelect" required>
				<option value="aTeamMember">Add Team Member</option>
				<option value="eTeamMember">Edit Team Member</option>
				<option value="eRestDets">Edit Restaurant Details</option>
				<option value="aDishType">Add Dish Type</option>
				<option value="eDishType">Edit Dish Type</option>
			</select>
		</div>
		<div class="form-div">
           	<button class="form-button" type="submit" name="submit">SUBMIT</button>
        </div>
	</form>
</div>
{% endblock %}