{% extends "formslayout.html" %}

{% block title %}Admin{% endblock %}

{% block pagetitle %}ADMIN OPTIONS{% endblock %}

{% block head %}
{{ parent ()}}<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="admin-div">
		<form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">ADD DISH</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter name" aria-label="Enter name" name="aDishName">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter type" aria-label="Enter type" name="aDishType">
	        </div>
	      	<div class="form-div">  
	        	<textarea class="input-line" aria-label="Enter description" type="text" name="aDishDescription" placeholder="Enter description" rows=4></textarea>
	        </div> 
	       	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter price" aria-label="Enter price" name="aDishPrice">
	    	</div>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter ingredients" type="text" name="aDishIngredients" placeholder="Enter ingredients" rows=4></textarea> 
	        </div>
	       	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter serving" aria-label="Enter serving" name="aDishServing">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter photo" aria-label="Enter photo" name="aDishPhoto">
	    	</div>
	    	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter allergy ids" aria-label="Enter allergy ids" name="aDishAllId">
	    	</div>
	        <button class="form-button"type="submit" name="aDishSubmit">Add Dish</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
		<form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT DISH</h1>
			<p class="error">{{error}}</p>
			<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="eDishId" required>
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter name" aria-label="Enter name" name="eDishName">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter type" aria-label="Enter type" name="eDishType">
	        </div>
	      	<div class="form-div">  
	        	<textarea class="input-line" aria-label="Enter description" type="text" name="eDishDescription" placeholder="Enter description" rows=4></textarea>
	        </div> 
	       	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter price" aria-label="Enter price" name="eDishPrice">
	    	</div>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter ingredients" type="text" name="eDishIngredients" placeholder="Enter ingredients" rows=4></textarea> 
	        </div>
	       	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter serving" aria-label="Enter serving" name="eDishServing">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter photo" aria-label="Enter photo" name="eDishPhoto">
	    	</div>
	    	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter old allergy id" aria-label="Enter old allergy id" name="eDishAllIdO">
	    	</div>
	    	<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter new allergy id" aria-label="Enter new allergy id" name="eDishAllIdN">
	    	</div>
	        <button class="form-button"type="submit" name="eDishSubmit">Edit Dish</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">REMOVE DISH</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="rDishId">
	        </div>
	        <button class="form-button"type="submit" name="rDishSubmit">Remove Dish</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">ADD DISH TYPE</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter name" aria-label="Enter name" name="aTypeName">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter icon" aria-label="Enter icon" name="aTypeIcon">
	        </div>
	        <button class="form-button"type="submit" name="aTypeSubmit">Add Dish Type</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT DISH TYPE</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="eTypeId">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter name" aria-label="Enter name" name="eTypeName">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter icon" aria-label="Enter icon" name="eTypeIcon">
	        </div>
	        <button class="form-button"type="submit" name="eTypeSubmit">Edit Dish Type</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">REMOVE DISH TYPE</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="rTypeId">
	        </div>
	        <button class="form-button"type="submit" name="rTypeSubmit">Remove Dish Type</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT WELCOME MESSAGE</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter welcome message" type="text" name="eWelMsg" placeholder="Enter welcome message" rows=4></textarea>
	        </div>
	        <button class="form-button"type="submit" name="eWelMsgSubmit">Edit Welcome Message</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT ADDRESS</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter address" type="text" name="eAddress" placeholder="Enter address" rows=4></textarea>
	        </div>
	        <button class="form-button"type="submit" name="eAddressSubmit">Edit Address</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT OPENING HOURS</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Monday-Friday" type="text" name="eOpeningHrsMon" placeholder="Monday-Friday">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Saturday" type="text" name="eOpeningHrsSat" placeholder="Saturday">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Sunday" type="text" name="eOpeningHrsSun" placeholder="Sunday">
	        </div>
	        <button class="form-button" type="submit" name="eOpeningHrsSubmit">Edit Opening Hours</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST" enctype="multipart/form-data">
			<h1 class="forms">ADD TEAM MEMBER</h1>
			<p class="error">{{error}}</p>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter name" type="text" name="aTeamName" placeholder="Enter name">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter role" type="text" name="aTeamRole" placeholder="Enter role">
	        </div>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter description" type="text" name="aTeamDescription" placeholder="Enter description" rows="4"></textarea>
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter photo" type="file" name="aTeamPhoto" placeholder="Enter photo">
	        </div>
	        <button class="form-button"type="submit" name="aTeamSubmit">Add Team Member</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">EDIT TEAM MEMBER</h1>
			<p class="error">{{error}}</p>
			<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="eTeamId" required>
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter name" type="text" name="eTeamName" placeholder="Enter name">
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter role" type="text" name="eTeamRole" placeholder="Enter role">
	        </div>
	        <div class="form-div">
	        	<textarea class="input-line" aria-label="Enter description" type="text" name="eTeamDescription" placeholder="Enter description" rows="4"></textarea>
	        </div>
	        <div class="form-div">
	        	<input class="input-line" aria-label="Enter photo" type="text" name="eTeamPhoto" placeholder="Enter photo">
	        </div>
	        <button class="form-button"type="submit" name="eTeamSubmit">Edit Team Member</button>
	    </form>
	</div>
	    <hr>
	    <div class="admin-div">
	    <form action="./resources/includes/admin.inc.php" method="POST">
			<h1 class="forms">REMOVE TEAM MEMBER</h1>
			<p class="error">{{error}}</p>
			<div class="form-div">
	        	<input class="input-line" type="text" placeholder="Enter id" aria-label="Enter id" name="rTeamId" required>
	        </div>
	        <button class="form-button"type="submit" name="rTeamSubmit">Remove Team Member</button>
	    </form>
	</div>
{% endblock %}