{% extends "formslayout.html" %}

{% block title %}Admin{% endblock %}

{% block head %}
	{{ parent ()}}
	<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<form action="./admin.php" method="POST">
		<div class="input-section">
			<h1 class="forms">Admin Options Menu</h1>
			<div class="form-div">
				<select name="adminSelect" class="input-line" aria-label="adminSelect" required>
					<option value="aDish">Add Dish</option>
					<option value="vDish">View Dishes</option>
					<option value="aDishType">Add Dish Type</option>
					<option value="vDishType">View Dish Types</option>
					<option value="aTeamMember">Add Team Member</option>
					<option value="vTeamMember">View Team Members</option>
					<option value="eRestDets">Edit Restaurant Details</option>
				</select>
			</div>
			
			<div class="form-div">
				<button class="form-button" type="submit" name="submit">SUBMIT</button>
			</div>
		</div>
	</form>
{% endblock %}