{% extends "formslayout.html" %}

{% block title %}Edit Team Member{% endblock %}

{% block head %}
    {{ parent ()}}
    <link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form action="./editmember.php" method="POST" enctype="multipart/form-data">
        <div class="input-section">
            <h1 class="forms">Edit Team Member</h1>
            <input class="input-line" aria-hidden="true" type="text" name="eTeamId" value="{{member.id}}{{formvalues.id}}" hidden>
            <p class="error">{{validations.id}}</p>
            <div class="form-div">
                <p class="title">Name</p>
                <input class="input-line" aria-label="Enter name" type="text" name="eTeamName" value="{{member.name}}{{formvalues.name}}" maxlength="40" required>
            </div>
            <p class="error">{{validations.name}}</p>
            <div class="form-div">
                <p class="title">Role</p>
                <input class="input-line" aria-label="Enter role" type="text" name="eTeamRole" value="{{member.role}}{{formvalues.role}}" maxlength="40" required>
            </div>
            <p class="error">{{validations.role}}</p>
            <div class="form-div">
                <p class="title">Description</p>
                <textarea class="input-line" aria-label="Enter description" type="text" name="eTeamDescription" rows="10" maxlength="1000" required>{{member.description}}{{formvalues.desc}}</textarea>
            </div>
            <p class="error">{{validations.desc}}</p>
            <div class="form-div">
                <p class="title">Photo</p>
                <input class="input-line" aria-label="Enter photo" type="file" name="eTeamPhoto" placeholder="Enter photo" maxlength="100">
            </div>
            <p class="error">{{validations.photo}}</p>
            
            <div class="form-div">
                <button class="form-button" type="submit" name="eTeamSubmit">Edit Team Member</button>
            </div>
        </div>
    </form>
{% endblock %}