{% extends "formslayout.html" %}

{% block title %}Edit Dish{% endblock %}
{% block head %}
    {{ parent ()}}
    <link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form action="./editdish.php" method="POST" enctype="multipart/form-data">
        <div class="input-section">
            <h1 class="forms">EDIT DISH</h1>
            <input class="input-line" aria-hidden="true" type="text" name="eDishId" value="{{dish.id}}{{formvalues.id}}" hidden>
            <p class="error">{{validations.id}}</p>
            <div class="form-div">
                <p class="title">Name</p>
                <input class="input-line" type="text" value="{{dish.name}}{{formvalues.name}}" aria-label="Enter name" name="eDishName" maxlength="100" required>
            </div>
            <p class="error">{{validations.name}}</p>
            <div class="form-div">
                <p class="title">Type</p>
                <select id="typeSelect" name="typeSelect" dataitem="{{dish.typename}}" class="input-line" aria-label="Select dish type" required>
                    <option value="">Select Type</option>
                    {% for type in types %}
                        <option value="{{type.typeid}}">{{type.type}}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="error">{{validations.type}}</p>
            <div class="form-div">
                <p class="title">Description</p>
                <textarea class="input-line" aria-label="Enter description" type="text" name="eDishDescription" maxlength="200" rows=4 required>{{formvalues.desc}}{{dish.desc}}</textarea>
            </div>
            <p class="error">{{validations.desc}}</p> 
            <div class="form-div">
                <p class="title">Price</p>
                <input class="input-line" type="number" value="{{dish.price}}{{formvalues.price}}" aria-label="Enter price" name="eDishPrice" min="0" step="0.01" required>
            </div>
            <p class="error">{{validations.price}}</p>
            <div class="form-div">
                <p class="title">Ingredients</p>
                <textarea class="input-line" aria-label="Enter ingredients" type="text" name="eDishIngredients" maxlength="250" rows=4 required>{{formvalues.ing}}{{dish.ing}}</textarea> 
            </div>
            <p class="error">{{validations.ing}}</p>
            <div class="form-div">
                <p class="title">Serving</p>
                <input class="input-line" type="number" value="{{formvalues.serving}}{{dish.serving}}" aria-label="Enter serving" name="eDishServing" min="1" required>
            </div>
            <p class="error">{{validations.serving}}</p>
            <div class="form-div">
                <p class="title">Allergies</p>
                <select name="allSelect[]" class="input-line" aria-label="allSelect" multiple required>
                    <option value="none">None</option>
                    {% for allergy in allergies %}
                        <option value="{{allergy.allergyid}}">{{allergy.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="error">{{validations.allergies}}</p>
            <div class="form-div">
                <p class="title">Photo</p>
                <input class="input-line" type="file" value="{{formvalues.photo}}" aria-label="Enter photo" name="eDishPhoto" maxlength="50">
            </div>
            <p class="error">{{validations.photo}}</p>
            
            <div class="form-div">
                <button class="form-button" onclick="window.location='admin.php'">Return to Admin Menu</button>
                <button class="form-button" type="submit" name="eDishSubmit">Edit Dish Details</button>    
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{parent()}}
    <script src="resources/scripts/dishtypefill.js" async defer></script>
{% endblock %}