{% extends "layout.html" %}

{% block title %}Favourites{% endblock %}

{% block head %}
    <link href="resources/css/favourites.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block pagetitle %}Your Favourites{% endblock %}

{% block content %}
    <div class="favourites-container">
        {% for entry in result %}
            <div class=favourites-entry>
                <div class=favourites-box>
                    <form action="./favourites.php" method="POST">
                        <input name="menuid" type="hidden" value="{{entry.dishid}}">
                        <button name="removeItem" href="{{removeFav}}" class="removeBtn"><img src="resources/images/closemenu2.png" alt='Remove Item' class="removeimage  "></button> 
                    </form>
                    <h2 class=favourites>{{entry.dishname}}</h2>
                    {{entry.dishdesc}}
                </div>
                <img src="{{entry.dishphoto}}" alt='Image of dish' class="favourites">
            </div>
        {% endfor %}
    </div>

    <form action="./favourites.mail.php" method="POST">
        <div class="form-container">
            <input name="menuid" type="hidden" value="{{entry.dishid}}">
            <input class="form-element" type="email" aria-label="Email" placeholder="Email" name="email">
            <button class="form-element" type="submit" name="submit">Send List To Email Above</button>
        </div>
    </form>
{% endblock %}