{% extends "layout.html" %}

{% block title %}Dish{% endblock %}

{% block head %}
    <link href="resources/css/menudetails.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% for row in result %}
        <div class="main-div">
            <h1 class="main-title">{{row.dishname}}</h1>
            
            <div class="button-div">
                <button onclick="window.location='menuDetails.php?dish={{row.id-1}}'" id="back-button" class="menudetails-dir" minimum-id="1"><</button>
                <button onclick="window.location='menuDetails.php?dish={{row.id+1}}'" id="forw-button" class="menudetails-dir" maximum-id="{{largestID}}">></button>
            </div>
            
            <p id="placeholder" style="display: none">{{dishID}}</p>
            
            <div class="details-container">
                <p class="menudetails">
                    <b>Description:</b>&nbsp;{{row.dishdesc}}<br>
                    <b>Ingredients:</b>&nbsp;{{row.ingredients}}<br>
                    <b>Price:</b>&nbsp;{{row.price}}<br>
                    <b>Serving:</b>&nbsp;{{row.serving}}
                </p>
                <img class="menudetails" src="{{row.dishphoto}}" alt="{{row.dishname}} Image">
                <div class="allergy-div">
                    {% for allergy in resultallergy %}
                        <img class="allergyicons" src="{{allergy.allergyicon}}" alt="Allergy Icon">      
                    {% endfor %}
                </div>
                <form method="POST" action="./resources/includes/favourites.inc.php">
                    <input name="menuid" type="hidden" value="{{dishID}}">
                    <button name="favBtn" id="favouritesBtn" type="submit" class="menudetails-fav">Add to Favourites</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="resources/scripts/menudetails.js" async defer></script>
{% endblock %}
