{% extends "formslayout.html" %}

{% block title %}View Dish Types{% endblock %}

{% block pagetitle %}Dish Types{% endblock %}

{% block head %}
	{{ parent ()}}
	<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="wrap">
		<form action="./viewtypes.php" method="POST">
			<div class="view-container">
			{% for type in types %}
				<div class="view-entry">
					<div class="view-box" >
						<p class="view">Type ID.:&nbsp{{type.typeid}}</p>
						<h2 class="view">{{type.type}}</h2>
						<button class="view-button" type="submit" name="delete{{type.typeid}}">Delete Type</button>
						<button class="view-button" type="submit" name="submit{{type.typeid}}">Edit Type</button>
					</div>
					<img src="{{type.typeimg}}" alt='Dish Type Icon' class="view">
				</div>
			{% endfor %}
		</form>
	</div>
{% endblock %}