{% extends "formslayout.html" %}

{% block title %}View Team Members{% endblock %}

{% block pagetitle %}Team Members{% endblock %}

{% block head %}
	{{ parent ()}}
	<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="wrap">
		{% for member in members %}
		<div class="view-container">
			<div class="view-entry">  
				<div class="view-box" >
					<form action="./viewmembers.php" method="POST">
						<p class="view">Member ID.:&nbsp{{member.teamid}}</p>
						<h2 class="view">{{member.name}}</h2>
						<button class="view-button" type="submit" name="delete{{member.teamid}}">Delete Member</button>
						<button class="view-button" type="submit" name="submit{{member.teamid}}">Edit Member</button>
					</form>
				</div>
				<img src="{{member.photo}}" alt='Image of Team Member' class="view">
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}