{% extends "formslayout.html" %}

{% block title %}View Team Members{% endblock %}

{% block pagetitle %}Team Members{% endblock %}

{% block head %}
	{{ parent ()}}
	<link href="resources/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="wrap">
		<form action="./viewmembers.php" method="POST">
			{% for member in members %}
				<div class="mem-container">
					<div class="mem-entry">  
						<div class="mem-box" >
							<p class="member">Member No.:&nbsp{{member.teamid}}</p>
							<h2 class="member">{{member.name}}</h2>
							<button id="view-mem-button" type="submit" name="delete{{member.teamid}}">Delete Member</button>
							<button id="view-mem-button" type="submit" name="submit{{member.teamid}}">Edit Member</button>
						</div>
						<img src="{{member.photo}}" alt='Image of Team Member' class="member">
					</div>
				</div>
			{% endfor %}
		</form>
	</div>
{% endblock %}